# standard RStudio project files to ignore, just to be explicit...
.RData
.Rhistory
.Rprofile
.Ruserdata

# Ignore EVERYTHING!!!!
*

# track this file..
!.gitignore

# track the license
!LICENSE

# track all markdown files
!*.md

# track all *.Rmd files...
!*.Rmd

# allow html output files
!*.html

# track all *.R files
!*.R

# track all text files (there is one in the scripts dir)
!*.txt

# make sure NOT to forget directories... include all of them by default
!*/

# ignore any renv directory entirely
renv/
.Rproj.user/
